In [7]:
import pyodbc 
import pandas as pd
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=Martin-PC\SQLEXPRESS;"
                      "Database=FootballData;"
                      "Trusted_Connection=yes;")


cursor = cnxn.cursor()
cursor.execute('SELECT HomeTeam_Id FROM Matches')
names = [ x[0] for x in cursor.description]
rows = cursor.fetchall()
df = pd.DataFrame(rows, columns = names)
#df = pd.read_sql(stmt,conn)

df.head(5)

#for row in cursor:
#    print('row = %r' % (row,))

  HomeTeam_Id
0         [9]
1        [10]
2        [11]
3        [15]
4        [25]

In [ ]:
import pymssql
import pandas as pd

## instance a python db connection object- same form as psycopg2/python-mysql drivers also
conn = pymssql.connect(server="localhost", user="",password="", port=63642)  # You can lookup the port number inside SQL server. 

## Hey Look, college data
stmt = "SELECT * FROM FootballData.Matches"
# Excute Query here
df = pd.read_sql(stmt,conn)

df.head(5)